#eg1{
    height: 400px;
    width: 400px;
    background-color: aquamarine;
    padding: 20px;
}

#eg2{
    height: 1000px;
    width: 1000px;

    background-image: url(https://images.unsplash.com/photo-1766445318570-1dc4bf3f5d79?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8);
    /* background-repeat: repeat-x; */
    background-repeat: no-repeat;
    background-size: cover; 
}