#eg1{
    width: 500px;
    height: 200px;
    background-color: cornflowerblue;
}

#eg2{
    padding: 50px 40px 10px 30px;
    width:200px;
    height:100px;
    background-color: aqua;


margin: 10px 0px 20px 30px;
margin-top: 30px;
margin-bottom: 30px;
margin-left: 20px;
margin-right: 20px;
box-shadow: 50px 20px 30px black(2, 2, 2);

}