body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width:200px;
    height: 200px;
    background-color: black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtvwQcYRh__uDbC06wrdl5IOyr77cSpH6J1Q&s");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    
}

.box1{
    background-color: brown;
    height: 100px;
    width: 100px;
    transform-origin: top left;
}
.box2{
    background-color:burlywood;
    height: 100px;
    width: 100px;
    transform-origin: top right;
}
.box3{
    background-color:orangered;
    height: 100px;
    width: 100px;
    transform-origin: bottom left;
}
.box4{
    background-color:goldenrod;
    height: 100px;
    width: 100px;
    transform-origin: bottom right;
    
}
.box:hover .box1{
   transform: rotate(90deg);
   transition: all 2s ease;
}
.box:hover .box2{
   transform: rotate(-90deg);
   transition: all 2s ease;
}
.box:hover .box3{
   transform: rotate(-90deg);
   transition: all 2s ease;
}
.box:hover .box4{
   transform: rotate(90deg);
   transition: all 1.5s ease;
}