*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
margin: auto;
width: 90vw;
height: 60vw;
border: 3px solid black;
display: flex;



/* flex -direction:column-reverse */
/* justify-content:flex-start */

justify-content:flex-start;
align-items: center;
flex-wrap: wrap;
}

.box{
    border:1px solid blue;
    height: 100px;
    width: 150px;
}