*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.grid-container{
    width: 800px;
    height: 700px ;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(25, 1fr);
    gap: 8px;
    padding: 10px;
    background-color:black;
    margin-left: 380px;
    margin-top: 70px;
}
.grid-container:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in;
}

.box img{ 
    width: 100%;
    height: 100%;
    object-fit:cover ;
}

.box:hover{

transform: scale(1.1);
transition: transform 0.5s ease-in;
}


#b1{
    background-color: rgb(237, 229, 229);
    grid-area: 2/6/8/9;
}
#b2{
    background-color: rgb(237, 229, 229);
    grid-area: 3/9/6/11;
}
#b3{
    background-color: rgb(237, 229, 229);
    grid-area: 1/11/6/14;
}
#b4{
    background-color: rgb(237, 229, 229);
    grid-area: 3/14/8/16;
}
#b5{
    background-color: rgb(237, 229, 229);
    grid-area: 8/6/12/9;
}
#b6{
    background-color: rgb(237, 229, 229);
    grid-area: 6/9/12/14;
}
#b7{
    background-color: rgb(237, 229, 229);
    grid-area: 8/14/12/17;
}
#b8{
    background-color: rgb(237, 229, 229);
    grid-area: 6/16/8/17;
}
#b9{
    background-color: rgb(237, 229, 229);
    grid-area: 6/17/12/20;
}
#b10{
    background-color: rgb(237, 229, 229);
    grid-area: 9/20/12/21;
}
#b11{
    background-color: rgb(237, 229, 229);
    grid-area: 14/1/18/3;
}
#b12{
    background-color: rgb(237, 229, 229);
    grid-area: 12/3/18/8;
}
#b13{
    background-color: rgb(237, 229, 229);
    grid-area: 12/8/16/11;
}
#b14{
    background-color: rgb(237, 229, 229);
    grid-area: 12/11/18/16;
}
#b15{
    background-color: rgb(237, 229, 229);
    grid-area: 12/16/16/19;
}
#b16{
    background-color: rgb(237, 229, 229);
    grid-area: 12/19/16/22;
}
#b17{
    background-color: rgb(237, 229, 229);
    grid-area: 18/3/22/5;
}
#b18{
    background-color: rgb(237, 229, 229);
    grid-area: 18/5/21/8;
}
#b19{
    background-color: rgb(237, 229, 229);
    grid-area: 16/8/21/10;
}
#b20{
    background-color: rgb(237, 229, 229);
    grid-area: 16/10/18/11;
}
#b21{
    background-color: rgb(237, 229, 229);
    grid-area: 18/10/24/13;
}
#b22{
    background-color: rgb(237, 229, 229);
    grid-area: 18/13/22/16;
}
#b23{
    background-color: rgb(237, 229, 229);
    grid-area: 16/16/21/18;
}
#b24{
    background-color: rgb(237, 229, 229);
    grid-area: 16/18/22/21;
}
#b25{
    background-color: rgb(237, 229, 229);
    grid-area: 21/5/26/7;
}
#b26{
    background-color: rgb(237, 229, 229);
    grid-area: 21/16/25/18;
}
#b27{
    background-color: rgb(237, 229, 229);
    grid-area: 22/18/24/19;
}
#b28{
    background-color: rgb(237, 229, 229);
    grid-area: 7/4/12/6;
}
#b29{
    background-color: rgb(237, 229, 229);
    grid-area: 21/7/25/10;
}
