*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

.grid-container {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}




#b1{
    background-color: lightcoral;
    grid-column: 1/2;
    grid-row:1/2;
}
#b2{
    background-color: lightblue;
    grid-column: 2/3;
    grid-row:1/2;
}
#b3{
    background-color: lightgreen;
    grid-column: 3/4;
    grid-row:1/2;
}
#b4{
    background-color: lightpink;
    grid-column: 2/4;
    grid-row:2/4;
}
#b5{
    background-color: rgb(169, 25, 25);
    grid-column: 5/6;
    grid-row:2/3;
}
#b6{
    background-color: rgb(216, 216, 12);
    grid-column: 4/5;
    grid-row:3/4;
}

#b7{
    background-color: rgb(43, 8, 183);
    grid-column: 5/7;
    grid-row:3/4;
}
#b8{
    background-color: lightyellow;
    grid-column: 2/3;
    grid-row:4/5;
}

#b9{
    background-color: lightyellow;
    grid-column: 3/4;
    grid-row:4/5;
}

#b10{
    background-color: lightyellow;
    grid-column: 4/6;
    grid-row:4/6;
}
#b11{
    background-color: lightyellow;
    grid-column: 1/2;
    grid-row:1/2;
}
#b12{
    background-color: lightyellow;
    grid-column: 1/2;
    grid-row:1/2;
}
#b13{
    background-color: lightyellow;
    grid-column: 2/3;
    grid-row:6/7;
}
#b14{
    background-color: lightyellow;
    grid-column: 1/2;
    grid-row:1/2;
}
#b15{
    background-color: lightyellow;
    grid-column: 1/2;
    grid-row:1/2;
}
#b16{
    background-color: lightyellow;
    grid-column: 1/2;
    grid-row:1/2;
}
#b17{
    background-color: lightyellow;
    grid-column: 1/2;
    grid-row:1/2;
}
#b18{
    background-color: lightyellow;
    grid-column: 1/2;
    grid-row:1/2;
}



