*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

.grid-container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "a b b c c"
                         "a e f f d"
                         "h e f f d"
                         "h g i i d";          
    gap: 10px;
    padding: 10px;
    background-color:black
}


#b1{
    background-color: rgb(239, 74, 74);
    grid-area: a;
}
#b2{
    background-color: lightblue;
    grid-area: b;
}
#b3{
    background-color: lightgreen;
    grid-area: c;
}
#b4{
    background-color: rgb(128, 31, 189);
    grid-area: d;
}
#b5{
    background-color: rgb(190, 25, 25);
    grid-area: e;
}
#b6{
    background-color: rgb(202, 202, 34);
    grid-area: f;
}

#b7{
    background-color: lightcoral;
    grid-area: g;
    
}
#b8{
    background-color: lightblue;
    grid-area: h;
}
#b9{
    background-color: lightgreen;
    grid-area: i;
}






