



*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.main-header{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.main-header{
    position: fixed;
    width: 100%;
}

.left-header ul{
    display: flex;
    gap: 20px;
    align-items: center;
}


.main-header ul>li{
    list-style: none;
    color: white;
}

.main-header a{
    text-decoration: none;
    color: white;
}

.left-header{
    display: flex;
    gap: 5px;

}

.left-header>img{
    width:100px;
    height: 40px;
}

.main-hero{
    height:100% ;
    width:100% ;
    
}

.main-hero>video{
    width: 100%;
    height: 100%;
}

.main-hero h1{
    color: red;
}


