*{
    margin: 0px;
    padding: 0px;
}

#main-header{
    background-color: aqua;
    display: flex;
    width:100%;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
}

#logo-section{

 align-items:center
 

}

nav a{
    text-decoration: none;
    margin-right: 20px;
}
.box{
    
width: 300px;
height: 300px;
position: sticky;
top: 300px;
border: 1px black solid;
}
