*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #cdd3f3;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    position: sticky;
    top: 0px;


}


nav{
    background-color: beige;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
nav>ul{
    display: flex;
}
nav>ul>li{
    list-style: none;
    margin-right: 20px;
}
nav>ul>li>a{
    text-decoration: none;
    color: brown;
    font-size: 20px;
    font-weight: 800;
}
nav>ul>li>a:hover{
    color: #2a55e5;
    text-decoration: underline;
    transition: 0.3s ease;
}



#hero-Left img{
width: 100%;
height: 50%;
border-top-left-radius: 10px;
border-top-right-radius: 10px
}


.box{
width: 25%;
height: 100px;
background-color: lightgoldenrodyellow;
}


#box-1{
position: absolute;
top: 10px;
left: 10px;
}


#box-2{
position: absolute;
top: 10px;
right: 10px;
}


#box-3{
position: absolute;
bottom: 10px;
left: 10px;
}


#box-4{
position: absolute;
bottom: 10px;
right: 10px;
}


#box-5{
position: absolute;
}