*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: blanchedalmond;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    position: sticky;
    top: 0px;

}
.right-header>ul>li{
    list-style: none;
    margin-right: 20px;
}
.right-header>ul>li>a{
    text-decoration: none;
    color: #2a55e5;
}
.right-header>ul{
   display: flex;
}

nav{
    background-color: beige;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}
nav>ul{
    display: flex;
}
nav>ul>li{
    list-style: none;
    margin-right: 20px;
}
nav>ul>li>a{
    text-decoration: none;
    color: brown;
    font-size: 20px;
    font-weight: 800;
}
nav>ul>li>a:hover{
    color: #2a55e5;
    text-decoration: underline;
    transition: 0.3s ease;
}

#hero-right{
    width: 100vw;
    height: 100vh;
}

#hero_section{
    width: 100vw;
    height: 100vh;
    background-image: url(https://depositphotos-blog.s3.eu-west-1.amazonaws.com/uploads/2017/07/Soothing-nature-backgrounds-2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#hero_container{
    width: 90%;
    height: 80vh;
    background-color: azure;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.border-style{
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.145);
}
.border-style:hover{
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.205);
}
#hero-left{
    width: 45%;
    height: 95%;
    background-color: rgba(211, 211, 211, 0.181);

}
#hero-right{
    width: 45%;
    height: 95%;
    background-color: lightseagreen;
    position: relative; 
}
#hero-left img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.box{
    width: 25%;
    height: 100px;
    background-color: lightgoldenrodyellow;
}

#box-1{
    position: absolute;
    top: 10px;
    left: 10px;
}
#box-2{
    position: absolute;
    top: 10px;
    right: 10px;
}
#box-3{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#box-4{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#box-5{
    position: absolute;
    top: 37%;
    left: 37%;
}