*{
    margin:0px;
    padding:0px;
}

header{
    display: flex;
    background-color: #000000;
    padding: 10px 0px;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    top: 0px;
    position: fixed;
    width: 100vw;
    
}

.logo>img{
 width: 100px;
}

#right-header>ul{
    display:flex;
    align-items: center;
    justify-content: center;
}

#right-header>ul>li{
 list-style: none;
}
#right-header>ul>li>a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
}

#right-header>ul>li>a:hover{
    color: blue;
    text-decoration: underline;
    transition: 0.3 ease;
}

nav{
    position: fixed;
    left:0px;
    top: 53px;
    width:100px;
    height:93vh;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav>ul>li{
list-style: none;
}

nav>div>ul>li>a{
    text-decoration: none;
    margin-bottom: 10px;
}



