body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.box{
    width: 200px;
    height: 200px;
    display: flex;
    background-color: antiquewhite;
}

.box div{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



a{
    display: inline-block;
    text-decoration: none;
    position: relative;
    font-size: 30px;
    
}

a::after{
    content: " ";
    height: 2px;
    width: 0px;
    position: absolute;
    background-color: rgb(214, 136, 28);
    bottom: -2px;
    left: 14px;
}

a:hover::after{
    width: 83%;
    background-color:brown ;
    transition: all 1.5s ease;
}

