body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;

}

.box{
    width: 150px;
    height: 200px;
    overflow: scroll;
    scrollbar-width: none;
}

.box1 h1{
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
}
    
.box1{
    width: 150px;
    height: 200px;

    background-color: antiquewhite;
    background-image: url(https://images.unsplash.com/photo-1768834605062-4eef74ce4683?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1.5s ease;
    overflow: hidden;
    
}

.box1:hover{
    transform:  scale(2);

}

.box2{
    width: 150px;
    height: 200px;
    display: flex;
    background-color: antiquewhite;
    background-image: url(https://images.unsplash.com/photo-1768834605062-4eef74ce4683?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1.5s ease;
    overflow: hidden;
    transform-origin: left;

}

.box2:hover{
    /* transform:  scale(2); */
    transform: rotate(90deg);

}
