body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.box{
    width: 200px;
    height: 200px;
    background-color: black;
    transition: all 1.5 ease;
    /* transform: translateX(-50) goes to -x axis left */
    /* same for translateY(100px) and(-100)for -y axis */
    /* transform: translate(100px,100px) here both denotes one by one x and y axis*/
}



.box1 {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    transition: all 1s ease;
}



.box1:hover {
    transform: translate(300px,-400px);
    transition: all 1.5s ease;
    position: absolute;
}

.box{
    width: 100px;
    height: 100px;
    background-color: aqua;
    display: inline-block;
}