
@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=BBH+Hegarty&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: "Poppins", sans-serif;
}

header{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#header-left{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px;
    margin-left: 20px;
}

#header-left>h1{
    color: #ffffff;
}

#header-left>ul{
 display: flex;
 gap: 20px;
}

#header-left>ul>li{
    list-style: none;
}

#header-left>ul>li>a{
    text-decoration: none;
    color: #ffffff;
}

#header-left>ul>li>a:hover{
    background-color: #333;
    border-radius: 20px;
    padding:  5px 10px;
    transition: .1s ease;

}

#header-right{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 20px;
    margin-right: 150px;
}



#header-right>ul{
 display: flex;
 gap: 20px;
}

#header-right>ul>li{
    list-style: none;
}

#header-right>ul>li>a{
    text-decoration: none;
    color: #ffffff;
}

#header-right>ul>li>a:hover{
    background-color: #333;
    border-radius: 20px;
    padding:  5px 10px;
    transition: .1s ease;

}

#header-right>button{
    padding: 8px;
    border-radius: 20px;
    font-weight: 500;
    font-size: .9rem;
}

#header-right>button:hover{
    background-color: #e0dddd;
    transition: .2s ease;
}

nav{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 10px 0px;
    height: 60px;

}
nav>h2{
    margin-left: 80px;
    font-size: 1.5rem;
}

nav>h2:hover{
    background-color: red;
    border-radius: 50%;
    padding: 12px 0px;
    transition: 0.3s;
}

nav>ul{
    display: flex;
    gap: 20px;
}

nav>ul>li{
    list-style: none;
}

nav>ul>li>a{
    text-decoration: none;
    color: #686868;
}

nav>ul>li>a:hover{
    color: #000000;
    transition: 0.4s;

}

#hero-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
}
#hero-section-left>p>span>i{
    margin-right: 8px;
}
#hero-section>div>p>span>a{
    color: #000;

}

#hero-section>div>p>span>a:hover{
    background-color: #eeeeee;
    border-radius: 20px;

}

#hero-section>div>h1{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 64px;

}

.hero-box{
    width: 35%;
}

#hero-section-left{
    display: flex;
    flex-direction: column;
    gap:20px;
}

#place-circle{
    position: absolute;
    top:40px;
    left: 14px;

}

#place-square{
    position: absolute;
    top:160px;
    left: 14px;

}





#hero-section-left>div>div>input{
    width: 350px;
    height: 50px;
    border-radius:  10px;
    margin-top: 20px;
    padding: 15px 30px;
    border-style: none;
    background-color: #e1e1e1;
    

}

.mid-location{
position: relative;
top: 0px;
}

.mid-hero{
    width:0px;
    height: 120px;
    border: .5px solid black;
    position: absolute;
    top: 50px;
    left: 20px;

}

.btn{
    padding: 8px 24px;
    border-radius:  10px;
    border-style: none;
    font-weight: 600;
    font-size: 15px;
    margin-right: 10px;
}

.primary-button{
    background-color: #000000;
    color: #ffffff;
}

.secondary-button{
    background-color: #e0dddd;
    color: #111111;

    
}

.secondary-button:hover{
    background-color: rgb(169, 158, 158);
    transition: 0.4s;
}


.sug-box{
    width: 20vw;
    height: 100px;
    background-color: beige;
    display: flex;
}


.suggestions {
    padding: 20px 50px;
    margin-top: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap; 
    gap: 50px;       
}

.card {
    display: flex;
    background-color: #eeeeee;
    border-radius: 12px;
    padding: 20px;
    width: 380px; 
    height: 200px;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    width: 70%; 
}

.card-text h3 {
    margin: 0;
    font-size: 18px;
}

.card-text p {
    margin: 8px 0;
    font-size: 14px;
    color: #555;
}

.card-text button {
    width: fit-content;
    padding: 7px 15px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.card img {
    width: 100px;
    height: 100px;
    align-self: center; 
}

footer{
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.main-footer{
      width: 80vw;
      display: flex;
      flex-direction: column;
        margin: auto;
        gap:40px;
}

#footer-logo{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

#footer-logo p{
      color: white;
      font-weight: 400;
      font-size: 30px;
      margin-top: 80px;
}
#footer-logo a{
text-decoration: none;
color: white;
font-size: 20px;

}

#footer-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
#footer-nav-box{
    width:200px;
}
#footer-nav h4{
  color: white;
  margin-bottom: 20px;
}
#footer-nav a{
text-decoration: none;
color: white;
}
#footer-nav a:hover{
  color: #dcdcdc;
  transition: a .3s ease;
}
#footer-nav ul>li{
list-style: none;
}
#footer-nav ul{
display: flex;
flex-direction: column;
gap: 15px;
}






@media screen and (max-width:1134px) {
#header-Left>ul{
display: none;
}
#header-right>ul{
display: none;
}
nav>ul{
display: none;
}
#hero-section{
flex-direction: column;
margin-left: 80px;

}
#hero-section-right{
display: none;
}
#hero-section-hide{
display: block;
}
}